* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Gotham Medium", -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.secont_one {
    background: url("./img/model-3-hero-desktop.jpeg") no-repeat;
    background-size: cover;
    height: 100vh;
    color: white;
    padding: 15px;
    bottom: 0;
}

.secont_one>.header>.logo,
.secont_one>.header>.navbar,
.secont_one li {
    float: left;
    list-style: none;
}

.secont_one>.header>.logo {
    width: 30%;
}

.secont_one>.header>.navbar ul li,
.secont_one>.header>.sidebar>ul>li {
    padding: 0px 12px;
    margin: 0 auto;
    font-size: 15px;
}

.secont_one>.header>.sidebar {
    float: right;
    text-align: right;
}

.secont_one>.header>.logo img {
    width: 100px;
}

.title {
    clear: both;
    font-size: 20px;
}

.secont_one>.title {
    position: relative;
    top: 70px;
    text-align: center;
}
