* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Gotham Medium", -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    scroll-behavior: smooth;
}

.secont_one {
    background: url("./img/model-3-hero-desktop.jpeg") no-repeat;
    background-size: cover;
    background-position: 0% 35%;
    height: 100vh;
    color: white;
    padding: 15px;
    position: relative;
}

.secont_one>.header>.logo,
.secont_one>.header>.navbar,
.secont_one li {
    float: left;
    list-style: none;
}

.secont_one>.header>.logo {
    width: 30%;
    cursor: pointer;
}

.secont_one>.header>.navbar ul li,
.secont_one>.header>.sidebar>ul>li {
    padding: 0px 12px;
    margin: 0 auto;
    font-size: 15px;
    cursor: pointer;
}

.secont_one>.header>.sidebar {
    float: right;
    text-align: right;
}

/* tesla logos */
.secont_one>.header>.logo img {
    width: 100px;
}

.secont_one>.title {
    clear: both;
    position: relative;
    font-size: 20px;
    top: 70px;
    text-align: center;
}

.model_info {
    position: absolute;
    bottom: 60px;
    width: 50%;
    margin-left: 25%;
}

.uper_model_info_box {
    float: left;
    width: 25%;
    padding: 10px 20px;
    text-align: center;
}

.tachometer {
    border-right: 1px solid white;
}

.uper_model_info_box>.btn {
    color: white;
    border: 2px solid white;
    border-radius: 2em;
    padding: 10px 20px;
    margin: 0;
    position: absolute;
    top: 20%;
    margin-bottom: 25%;
    cursor: pointer;
}

.uper_model_info_box>p {
    font-size: 13px;
}

.down_arrow {
    clear: both;
    text-align: center;
    position: relative;
    top: 20px;
}

.down_arrow>a {
    text-decoration: none;
    color: white;
}

.fa-arrow-down {
    font-size: 25px;
}

.navigation_bar {
    position: fixed;
    z-index: 1;
    top: 25%;
}

.navigation_bar>a {
    text-decoration: none;
    color: white;
}

.vertical_line {
    border-left: 1px solid rgba(211, 211, 211, 0.6);
    padding: 5px 10px;
    margin-bottom: 5px;
}

.hide {
    color: transparent;
    font-size: 12px;
    font-weight: bold;
}

.navigation_bar>a:hover .hide {
    color: white;
    transition: .5s;
}

.section_two {
    height: 100vh;
    background-color: white;
}

.section_two_box {
    float: left;
    position: relative;
    padding: 15px;
}

.section_two_box_one {
    background-color: white;
    width: 30%;
    height: 100%;
}

.section_two_box_two {
    background-image: url("./img/model_3_safety_hero.png");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    width: 60%;
    height: 100%;
}

.section_two_box_three {
    background-color: white;
    width: 10%;
    height: 100%;
}

.back_top_btn {
    float: right;
}

.back_top_btn a {
    text-decoration: none;
    color: black;
}

.safety {
    padding: 20px;
}

.safety_btn {
    position: absolute;
    bottom: 60px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.safety_btn>div,
.safety_btn_lmore>div {
    float: left;
    width: 50%;
    cursor: pointer;
}

.safety_btn_lmore_learn_sign>p {
    border: 3px solid black;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    text-align: center;
    border-radius: 100%;
    font-size: 25px;
    font-weight: bold;
}

.safety_btn_onow_btn {
    border: 3px solid black;
    padding: 10px;
    margin: 0 15px;
    border-radius: 2em;
    cursor: pointer;
}

.safety_btn_lmore_learn_desc>p {
    font-weight: lighter;
    font-size: 15px;
    padding: 10px 0;
}

.safety>p:nth-child(3) {
    padding: 20px 0;
    font-weight: lighter;
    line-height: 20pt;
}

.fixed_tesla_logo_and_backbtn {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
}

.fixed_tesla_logo_and_backbtn {
    padding: 12px 20px;
}

.fixed_tesla_logo_and_backbtn>.black_logo>img {
    width: 110px;
}

.fixed_tesla_logo_and_backbtn>.black_logo {
    float: left;
}


.section_three {
    width: 100%;
    background: red;
    height: 100vh;
}